@charset "utf-8";

@import
  "partials/fonts",
  "partials/variables",
  "partials/mixins",
  "partials/normalize",
  "partials/utilities",
  "partials/typography",
  "partials/app"
;

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

.madeby{
  text-align: center;
  width: 100%;
  @include large {
    font-size: 0.7rem;
  }
  
  @include medium {
    font-size: 0.7rem;
  }
  
  @include small {
    font-size: 0.5rem;
  }

}

ul {
	list-style: disc ;
}

h4{
  padding-bottom: 1rem;
  padding-top: 1rem;
}